*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 50px;
    font-family: 'Staatliches', cursive;
    
    position: sticky;
    top: 0;
    z-index: 100;
}

#titleLogo{
    text-align: center;
    letter-spacing: 5px;
}

#titleLogo > p3{
    color: gray;
}

#photoBlock{
    width: 100%;
    height: 80vh;
    background-image: url('./img/2.jpeg');
    background-size: cover;
    background-position: 50% 20%;
    position: relative;
    overflow: hidden;
}

@keyframes animatedBlock{
    0%{
        right: -100%;
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        right: 120px;
        opacity: 1;
    }
}


#photoBlock__animatedText{
    width: 30%;
    text-align: left;
    position: absolute;
    top: 30%;
    right: -100%;
    animation-name: animatedBlock;
    animation-duration: 2s; 
    animation-fill-mode: forwards; 
    display: flex;
    flex-direction: column;
    color: white;
}

#photoBlock__animatedText > h1{
    font-size: 2rem;
    font-family: 'Staatliches', cursive;
    letter-spacing: 5px;
}

#photoBlock__animatedText > p3{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: lighter;
}

#photoBlock__animatedText > button{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

@keyframes description{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#descriptionBlock{
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    width: 45%;
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    animation-name: description;
    animation-duration: 3s; 
    animation-fill-mode: forwards; 
}

#descriptionBlock > p4{
    font-weight: 300;
}

#descriptionBlock > button{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
    outline: none;
    border: 2px solid black;
    border-radius: 2px;
}

#contentBlock{
    width: 100%;
    border: 1px solid #000;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;;
}

@keyframes icons{
    0%{
        width: 100px;
    }
    50%{
        width: 80px;
    }
    100%{
        width: 100px;
    }
}

.contentBlock__card{
    margin: 40px 0;
    width: 200px;
    height: 250px;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contentBlock__card img{
    width: 100px;
    animation-name: icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 1024px){
    #photoBLock{
        height:100vh; 
    }
    
    #photoBlock__animatedText{
        width: 70%;
        bottom: 10vh;
        left: 15%;
        top: auto;
        text-align: center;
    }

    #header{
        justify-content: center;
    }
    
    #descriptionBlock{
        width: 60%;
    }
}

@media screen and(max-width: 400px){
    #photoBlock__animatedText{
        width: 90%;
        bottom: 0;
    }

    #photoBlock{
        height: auto;
    }
}